USE [master]
GO
/****** Object:  Database [SaveLifeDB]    Script Date: 27/02/2024 08:13:38 ******/
CREATE DATABASE [SaveLifeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaveLifeDB', FILENAME = N'D:\SSMS\srv\MSSQL16.SQLEXPRESS01\MSSQL\DATA\SaveLifeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaveLifeDB_log', FILENAME = N'D:\SSMS\srv\MSSQL16.SQLEXPRESS01\MSSQL\DATA\SaveLifeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaveLifeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaveLifeDB]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 27/02/2024 08:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesHistory]    Script Date: 27/02/2024 08:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesHistory](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[SaleDate] [date] NULL,
	[SaleAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesHistory]  WITH CHECK ADD FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agents] ([AgentID])
GO
USE [master]
GO
